@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: clip;
    overflow-y: auto;
    scrollbar-gutter: stable;
  }

  body {
    @apply font-sans opacity-100 visible;
    min-height: 100%;
    overflow-x: clip;
  }
  
  img {
    @apply h-auto max-w-full;
  }
}

@layer components {
  .hero-section {
    min-height: calc(100vh - 4rem);
  }
}
